body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #242728;
}

.container {
  color: white;
  background-color: #1c1e1f;
  padding: 20px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  transform:translatex(-94px) translatey(-227px);
}

h2 {
  color: white;
}

::placeholder {
  color: rgb(164, 164, 164);
}

.formDigi input {
  width: 350px;
  background-color: #3b3b3b;
  color: white;
  border-color: #626161;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

button {
  font-size: medium;
  margin-top: 10px;
  background-color: #58648c;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* .loginButton {
  font-size: medium;
  margin-top: 10px;
  background-color: #58648c;
  color: #fff;
  padding: 10px;
  border: none;
  width: 330px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
} */



button:hover {
  background-color: #45a049;
}

#activationButtons {
  display: none;
  margin-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 100;
  width: 390px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transform:translatex(-95px) translatey(2px);
}

.modal-content {
  line-height: 30px;
  background-color: #1c1e1f;
  padding: 20px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

select {
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  color: white;
  background-color: #706c6c;
  box-sizing: border-box;
}

.logo {
  width: 200px;
  display:inline-block;
  transform:translatex(-5px) translatey(-237px);
}

.close {
  color: #aaaaaa;
  float: inline-end;
  font-size: 38px;
  font-weight: bold;
  margin-top: 25px;
}

.close:hover,
.close:focus {
  color: #ff4006;
  text-decoration: none;
  cursor: pointer;
}

.rolesList {
  background-color: #1c1e1f;
  padding: 15px;
  color: white;
  border-radius: 8px;
  height: auto;
  align-items: center;
  margin-top: 15px;
  display: none;
}

/* Container big */
/* .containerBig{
  
  transform:translatex(-94px) translatey(-257px);
 } */
 
 /* Image */
 /* .containerBig .logo img{
  display:inline-block;
  transform:translatex(87px) translatey(-4px);
 } */
 
 /* Container */
 /* .containerBig .container{
  padding-top:0px;
 } */
 
 /* Modal content */
 /* #departmentModal .modal-content{
  transform:translatex(0px) translatey(-55px);
 } */
 
 /* Modal content */
 /* #deactivateModal .modal-content{
  transform:translatex(0px) translatey(-55px);
 }  */
 